/* src/App.css */

.app-container {
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #007bff;
  color: white;
  padding: 1rem;
}

footer {
  background-color: #f1f1f1;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.dark nav {
  background-color: #111;
}

.dark footer {
  background-color: #222;
  color: #ddd;
}
